:root {
  --rainbow-yellow: #eed666;
  --rainbow-orange: #eea653;
  --rainbow-light-blue: #8ac1e4;
  --rainbow-grey-blue: #b3b5bf;
  --rainbow-green: #92d84d;
  --rainbow-dark-green: #7dbe3c;
  --rainbow-purple: #c6a6c9;
  --rainbow-pink: #d396ab;
  --background: #e9d4c7;
  --light: #f3ede9;
  --dark: #706863;
  --darker: #2e2d2b;
}
