* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
}

:root {
  --rainbow-yellow: #eed666;
  --rainbow-orange: #eea653;
  --rainbow-light-blue: #8ac1e4;
  --rainbow-grey-blue: #b3b5bf;
  --rainbow-green: #92d84d;
  --rainbow-dark-green: #7dbe3c;
  --rainbow-purple: #c6a6c9;
  --rainbow-pink: #d396ab;
  --background: #eeded4;
  --light: #f3ede9;
  --dark: #706863;
  --font-display: "Staatliches", cursive;
  --font-body: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--font-display-bold);
}

p {
  font-family: var(--font-body);
}

.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
}
