.rainbow-content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.top-left {
  background: linear-gradient(
    to bottom right,
    var(--rainbow-yellow),
    var(--rainbow-orange)
  );
  filter: blur(2.5rem);
  border-radius: 30%;
  height: 45%;
  width: 40%;
  position: absolute;
  top: -5%;
  left: -5%;
  transition: 9s ease-in-out;
}

.top-left2 {
  top: 5%;
  width: 30%;
}

.top-center-left {
  background: linear-gradient(
    to left,
    var(--rainbow-pink),
    var(--rainbow-orange)
  );
  filter: blur(2.5rem);
  border-radius: 40%;
  height: 30%;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 20%;
  transition: 8s ease-in-out;
}

.top-center-left2 {
  left: 15%;
  width: 35%;
  transform: rotate(-10deg);
}

.top-center {
  background: linear-gradient(
    to top right,
    var(--rainbow-purple),
    var(--rainbow-grey-blue),
    var(--rainbow-light-blue)
  );
  filter: blur(3.5rem);
  position: absolute;
  top: -25%;
  left: 30%;
  height: 60%;
  width: 50%;
  transform: rotate(30deg);
  transition: 6s ease-in-out;
}

.top-center2 {
  width: 60%;
  left: 20%;
}

.top-right {
  background: linear-gradient(
    to top left,
    var(--rainbow-green),
    var(--rainbow-yellow)
  );
  filter: blur(3.5rem);
  position: absolute;
  top: -10%;
  right: 5%;
  height: 80%;
  width: 25%;
  transform: rotate(45deg);
  border-radius: 50%;
}

.center-right {
  background: linear-gradient(
    to right,
    var(--rainbow-light-blue),
    var(--rainbow-purple),
    var(--rainbow-pink)
  );
  filter: blur(3.5rem);
  position: absolute;
  height: 25%;
  width: 40%;
  top: 40%;
  right: -8%;
  transform: rotate(-35deg);
  border-radius: 30%;
}

.bottom-right {
  background: linear-gradient(to right, transparent 10%, var(--rainbow-orange));
  filter: blur(1.5rem);
  position: absolute;
  height: 50%;
  width: 20%;
  bottom: 0;
  right: -2%;
}

.bottom-center-right {
  background: linear-gradient(
    to bottom,
    transparent 10%,
    var(--rainbow-purple),
    var(--rainbow-pink)
  );
  filter: blur(3rem);
  position: absolute;
  height: 20%;
  width: 40%;
  bottom: 0%;
  right: 10%;
}

.bottom-center-left {
  background: linear-gradient(
    to bottom,
    var(--rainbow-yellow),
    var(--rainbow-green)
  );
  filter: blur(2.5rem);
  position: absolute;
  height: 50%;
  width: 35%;
  bottom: -20%;
  left: 15%;
  border-radius: 50%;
  transform: rotate(0deg);
}

.bottom-left {
  background: linear-gradient(
    to right,
    var(--rainbow-light-blue),
    var(--rainbow-purple),
    var(--rainbow-pink)
  );
  filter: blur(4rem);
  position: absolute;
  height: 75%;
  width: 55%;
  bottom: -10%;
  left: -25%;
  border-radius: 50%;
  transform: rotate(-35deg);
}

.center-left {
  background: var(--rainbow-yellow);
  filter: blur(5rem);
  height: 50%;
  width: 20%;
  position: absolute;
  top: 35%;
  left: 30%;
  border-radius: 50%;
  transform: rotate(30deg);
}

.center {
  background: linear-gradient(
    to top,
    var(--rainbow-green),
    var(--rainbow-light-blue)
  );
  filter: blur(4rem);
  position: absolute;
  height: 25%;
  width: 25%;
  top: 35%;
  left: 45%;
  border-radius: 40%;
  transform: rotate(0deg);
}

.center-center-right {
  background: linear-gradient(
    to right,
    var(--rainbow-light-blue),
    var(--rainbow-grey-blue)
  );
  filter: blur(4rem);
  position: absolute;
  height: 35%;
  width: 50%;
  top: 50%;
  left: 45%;
  border-radius: 50%;
  transform: rotate(10deg);
  transform: scale(1.25);
  /* transition: 5s ease-in-out; */
}

.center-center-right2 {
  transform: scale(1.25);
}
